#navbarSupportedContent li, #header img{
  margin: 0 5vw 0 5vw;
}

.container-fluid {
  width: 80%;
}

#carouselExampleIndicators {
  width: 50%;
  margin: 0 auto;
}

.carousel-item img{
  height: 60vh;
}
